@page
@model WebApp1.Pages.SummaryModel
@{
    ViewData["Title"] = "Summary";
}

<h2>Summary</h2>


<form method="post">




    FromDate:
    <input asp-for="SearchItem.FromDate" type="date" />
    ToDate:
    <input asp-for="SearchItem.ToDate" type="date" />

    <input type="submit" value="実行" />
</form>


<table border="1">
    <tr>
        <th>
            Year
        </th>
        <th>
            AccountTypeId
        </th>
        <th>
            Revenue
        </th>
        <th>
            Expense
        </th>
    </tr>
    @foreach (var item in Model.DetailItems)
    {
        <tr>
            <td>@item.Year</td>
            <td>@item.AccountTypeId</td>
            <td>@item.Revenue</td>
            <td>@item.Expense</td>
        </tr>
    }

    </table>